.carousel-container {
    width: 400px;
    max-width: 800px; 
    margin: 0 auto; 
    max-height: 400px;
  }

  @media screen and (max-width: 505px) {
    .slick-slider{
      width: 300px !important;
      height: 260px !important;
    }

    .carousel-container{
      width: 300px;
    }
  }

  @media screen and (max-width: 394px) {
    .slick-slider{
      width: 250px !important;
    }

    .carousel-container{
      width: 250px;
    }
  }
  
  .slick-slider {
    width: 400px; 
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgs-cont{
    justify-content: center !important;
    align-items: center !important;
  }

  .imgs-cont img{
    margin-left: 17px;
    border-radius: 8px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: black;
  }

  .slick-dots li button:before {
    font-size: 15px;
  }

  .slick-prev:before {
    position: relative;
    right: 20px;
  }