.carousel-container {
    width: 400px;
    max-width: 800px; /* Defina o tamanho máximo desejado */
    margin: 0 auto; /* Centralize o carousel */
    max-height: 400px;
  }
  
  .slick-slider {
    width: 400px; /* Garanta que o carousel ocupe 100% da largura do contêiner */
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgs-cont{
    justify-content: center !important;
    align-items: center !important;
  }

  .imgs-cont img{
    margin-left: 17px;
    border-radius: 8px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 40px;
    color: black;
  }

  .slick-dots li button:before {
    font-size: 15px;
  }

  .slick-prev:before {
    position: relative;
    right: 20px;
  }