footer{
    background: linear-gradient(rgb(107, 107, 107), rgb(54, 50, 50));
}

@media screen and (max-width: 811px) {
    
.p_infos1{
   font-size: 12px;
}

}

@media screen and (max-width: 753px) {
    
    .p_infos2{
       font-size: 12px;
       margin-left: 0;
    }
    
    }